#cookie-beam.top-cookie(ng-controller='CookieController')
  .container
    .row-cookie
      .col.col-cookie-txt
        | Ta strona wykorzystuje pliki cookies. U&zdot;ywamy informacji zapisanych za pomoc&aogon; plik&oacute;w cookies m.in. w celach reklamowych, statystycznych i w celu dostosowania naszej strony
        | do indywidualnych potrzeb u&zdot;ytkownik&oacute;w. Korzystanie z naszej strony bez zmiany ustawie&nacute; dotycz&aogon;cych cookies oznacza, &zdot;e b&eogon;d&aogon; one zapisane w pami&eogon;ci urz&aogon;dzenia.
        | Korzystaj&aogon;c ze strony wyra&zdot;asz zgod&eogon; na u&zdot;ywanie plik&oacute;w cookies, zgodnie z aktualnymi ustawieniami przegl&aogon;darki 
        a(href='/dokumenty/cookie') PLIKI COOKIES
        |  .
      .col.col-cookie-links
        a(href='#' ng-click='hideCookieCloud();$event.preventDefault()') Akceptuję