div.gridKolumnaIkona
    div
    div.ikonyRedWidok
        div.ikona
            img.img-full(src="images/ikona10.png")
        div
            h1 3
            | Galerie handlowe     
        div.ikona
            img.img-full(src="images/ikona20.png")
        div
            h1 13
            | Parków handlowych

        div.ikona
            img.img-full(src="images/ikona30.png")
        div
            h1 3
            | pasaże handlowe

        div.ikona
            img.img-full(src="images/ikona40.png")
        div
            h1 100 
                span.smaller-end-ico tys.
            | mkw GLA do 2020 r.

        div.ikona
            img.img-full(src="images/ikona50.png")
        div
            h1 100
            | stałych najemców

        div.ikona
            img.img-full(src="images/ikona60.png")
        div
            h1 1,6 
                span.smaller-end-ico mln
            | wizyt miesięcznie
    div  