.pasekBottom
      .kontener.footer
        div
          span DEVELOPED BY NAPOLLO © 2020
        div  
          span CZŁONEK
          img(src="/images/foot_loga/loga_stopka_c.png", alt="")
        div  
          span CZŁONEK 
          img(src="/images/foot_loga/loga_stopka_prch.png", alt="")
          span PRCH
        //- div  
        //-   span CZŁONEK PZFD