h2.c-title PLIKÓW COOKIES W SERWISIE INTERNETOWYM

p Pliki cookies
p  
p
    | 1. Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Strony internetowej i przeznaczone są do korzystania ze Stron internetowych. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.
p
    | 2. Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika pliki cookies oraz uzyskującym do nich dostęp jest Napollo.
p 3. Pliki cookies wykorzystywane są w celu:
p
    | a) dostosowania zawartości Strony internetowej do preferencji Użytkownika oraz optymalizacji korzystania ze Strony internetowej; w szczególności pliki te pozwalają rozpoznać urządzenie Użytkownika Strony internetowej i odpowiednio wyświetlić Stronę internetową, dostosowaną do jego indywidualnych potrzeb;
p
    | b) tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy korzystają ze Strony internetowej, co umożliwia ulepszanie ich struktury i zawartości.
p 4. W ramach Strony internetowej stosowane są następujące rodzaje plików cookies:
p
    | a) „cookies” sesyjne – są to tymczasowe informacje przechowywane w pamięci przeglądarki do momentu zakończenia sesji przeglądarki, czyli do momentu jej zamknięcia. Te cookies są obowiązkowe, aby niektóre aplikacje lub funkcjonalności działały poprawnie,
p
    | b) „cookies” stałe – dzięki nim korzystanie z często odwiedzanych stron jest łatwiejsze (np. zapewniają optymalną nawigację, zapamiętują wybraną rozdzielczość, układ treści etc.). Te informacje pozostają pamięci przeglądarki przez dłuższy okres. Czas ten zależy od wyboru, którego można dokonać w ustawieniach przeglądarki. Ten rodzaj cookies zezwala na przekazywanie informacji na serwer za każdym razem, gdy odwiedzana jest dana strona. Stałe cookies są również nazywane jako tzw. śledzące „cookie” (ang. tracking cookies),
p
    | c) „cookies” podmiotów zewnętrznych – (ang. third parties cookies) – to informacje pochodzące np. z serwerów reklamowych, serwerów firm i dostawców usług (np. wyszukiwania albo map umieszczanych na stronie) współpracujących z właścicielem danej Strony internetowej. Ten rodzaj cookie pozwala dostosowywać reklamy – do preferencji i zwyczajów ich użytkowników. Pozwalają również ocenić skuteczność działań reklamowych (np. dzięki zliczaniu, ile osób kliknęło w daną reklamę i przeszło na stronę internetową reklamodawcy). Na podstawie informacji pozyskanych z tych cookies można tworzyć tzw. ogólne profile użytkowników, przy czym dane z cookies sesyjnych nie są przez Napollo w żaden sposób używane - korzysta z nich jedynie serwer PHP co umożliwia mu prawidłowe funkcjonowania, zaś pliki cookies stałe używane są jedynie do przechowywania informacji o wcześniejszym zaakceptowaniu informacji o plikach cookies.
p
    | 5. Napollo nie przechowuje w plikach cookies żadnej innej informacji, wszystkie pozostałe pliki cookies pochodzą z domen firm trzecich takich jak Google czy Livechat.pl.
p
    | 6. W wielu przypadkach oprogramowanie służące do przeglądania stron internetowych (przeglądarka internetowa) domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Strony internetowej mogą dokonać w każdym czasie zmiany ustawień dotyczących plików cookies. Ustawienia te mogą zostać zmienione w szczególności w taki sposób, aby blokować automatyczną obsługę plików cookies w ustawieniach przeglądarki internetowej bądź informować o ich każdorazowym zamieszczeniu w urządzeniu Użytkownika Serwisu. Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).
p
    | 7. Napollo informuje, że ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na Stronie internetowej.
p
    | 8. Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Strony internetowej i wykorzystywane mogą być również przez współpracujących z Napollo.
p
    | 9. W wielu przypadkach oprogramowanie służące do przeglądania stron internetowych (przeglądarka internetowa) domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika.
p
    | 10. Jeżeli Użytkownik nie wyraża zgody na instalację plików cookies, może zablokować zapisywanie plików cookies poprzez zmianę w ustawieniach w swojej przeglądarce.
p
    | 11. Opisane przez producentów sposoby blokowania obsługi plików cookies dostępne są:
p
    | a) dla przeglądarki Mozilla Firefox pod adresem: https://support.mozilla.org/pl/kb/blokowanie-ciasteczek,
p b) dla przeglądarki Internet Explorer pod adresem: 
p http://windows.microsoft.com/pl-pl/windows-vista/block-or-allow-cookies, 
p c) dla przeglądarki Microsoft Edge pod adresem: 
p https://privacy.microsoft.com/pl-PL/windows-10-microsoft-edge-and-privacy, 
p
    | d) dla przeglądarki Google Chrome pod adresem: https://support.google.com/chrome/answer/95647?hl=pl,
p
    | e) dla przeglądarki Opera pod adresem: http://help.opera.com/Linux/9.22/pl/cookies.html,
p f) dla przeglądarki Safari pod adresem: 
p http://safari.helpmax.net/pl/ochrona-i-prywatnosc/zarzadzanie-plikami-cookie/.
p
    | 12. Napollo zastrzega sobie prawo do zmiany postanowień Polityki Prywatności. O każdej zmianie Polityki Prywatności powiadomi Użytkowników w terminie 7 dni przed wejściem w życie tych zmian poprzez publikację jednolitego tekstu Polityki Prywatności na Stronie internetowej. W przypadku zmiany Polityki Prywatności dalsze korzystanie z Strony internetowej jest oświadczeniem woli Użytkownika oznaczającym zaakceptowanie zmian do Polityki Prywatności.
p
    | 13. Wszelkie uwagi, komentarze oraz pytania związane z Polityką Prywatności można przekazywać na adres e-mail: info@napollo.pl
