section.widok1(id="warto")
    .kontener
        h2 !{articles["z-n-parkiem-warto"].title}
        div.grid55gap2
            div
                | !{articles["z-n-parkiem-warto"].textLeft}
            div(style="display:block")
                | !{articles["z-n-parkiem-warto"].textRight}
