html(ng-app="app")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        include ../partials/styles.pug
        title N-Park - wynajem
    body
        include ../partials/top2.pug
        include ../partials/menu2.pug 
        section
            div.kontener.poli-kont(style="padding-bottom:5em")
               include ../partials/polityka-text.pug
               
        include ../partials/widok22.pug
        //- include ../partials/widok2.pug 
        include ../partials/pasek-bottom.pug
        if !isConfirm
            include ../partials/cookie.pug   
include ../partials/scripts3.pug
