html(ng-app="app")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        include ./partials/styles.pug
        title Document
    body
        include ./partials/top2.pug

        section
            div.kontener
                div
                    h2(style="text-align:center") 404

        include ./partials/widok2.pug 
        include ./partials/menu2.pug 
        include ./partials/pasek-bottom.pug 
include ./partials/scripts.pug
