doctype html
head
  meta(charset='utf-8')
  title Ngadmin
  base(href='/admin')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/x-icon' href='favicon.ico')
  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='/css/all.css' rel='stylesheet')
  style.
    @font-face {
      font-family: 'Titillium';
      src: url("../fonty/TitilliumWeb-Regular.woff2") format("woff2"), url("../fonty/TitilliumWeb-Regular.woff") format("woff");
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'TitilliumSemiBold';
      src: url("../fonty/TitilliumWeb-SemiBold.woff2") format("woff2"), url("../fonty/TitilliumWeb-SemiBold.woff") format("woff");
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: 'TitilliumLight';
      src: url("../fonty/TitilliumWeb-Light.woff2") format("woff2"), url("../fonty/TitilliumWeb-Light.woff") format("woff");
      font-weight: 300;
      font-style: normal;
    }

    @font-face {
      font-family: 'TitilliumThin';
      src: url("../fonty/TitilliumWeb-Thin.woff2") format("woff2"), url("../fonty/TitilliumWeb-Thin.woff") format("woff");
      font-weight: 100;
      font-style: normal;
    }

    @font-face {
      font-family: 'TitilliumBold';
      src: url("../fonty/TitilliumWeb-Bold.woff2") format("woff2"), url("../fonty/TitilliumWeb-Bold.woff") format("woff");
      font-weight: bold;
      font-style: normal;
    }
app-root
script(src='/ngadmin/runtime-es2015.js' type='module')
script(src='/ngadmin/polyfills-es2015.js' type='module')
script(src='/ngadmin/runtime-es5.js' nomodule='')
script(src='/ngadmin/polyfills-es5.js' nomodule='')
script(src='/ngadmin/styles-es2015.js' type='module')
script(src='/ngadmin/styles-es5.js' nomodule='')
script(src='/ngadmin/vendor-es2015.js' type='module')
script(src='/ngadmin/main-es2015.js' type='module')
script(src='/ngadmin/vendor-es5.js' nomodule='')
script(src='/ngadmin/main-es5.js' nomodule='')
