<div class="row">
  <div class="col-md-4 bt-section">
    <i class="fas fa-map-marker-alt"></i>
    <h2>Mapa</h2>
    <a class="nav-link" [routerLink]="['/panel/poland-map']"></a>
  </div>
  <div class="col-md-4 bt-section">
    <i class="fas fa-building"></i>
    <h2>Inwestycje</h2>
    <a class="nav-link" [routerLink]="['/panel/invests']"></a>
  </div>
  <div class="col-md-4 bt-section">
    <i class="fas fa-images"></i>
    <h2>Rotor</h2>
    <a class="nav-link" [routerLink]="['/panel/rotor']"></a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4 bt-section">
    <i class="fas fa-font"></i>
    <h2>Artykuły</h2>
    <a class="nav-link" [routerLink]="['/panel/articles']"></a>
  </div>
  <div class="col-md-4 bt-section">
    <i class="fas fa-users"></i>
    <h2>Kontakty</h2>
    <a class="nav-link" [routerLink]="['/panel/contacts']"></a>
  </div>
</div>
